body {
    background: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 24px;
    text-align: center;
    margin-top: 70px;
    
}

.card {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background: #FFF;
    text-align: center;
    margin-top: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 20px 0 20px 0;
}

.label {
    font-size: 18px;
}

#button {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-size: 1.6vw;
}

#output {
    font-size: 15px;
    border-top: 1px solid #4285f4;
    padding-top:5px;
    margin-right:5%;
    margin-left:5%;
    width: 90%;
}

#output, #out {
    display: none;
}

#out * {
    margin-top: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
  }
  /*satrt container */
  .container {
    width: 1200px;
    margin: 0 auto;
  
    padding: 0;
    font-family: sans-serif;
  }
  
  /*satrt header  */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin: 0%;
    height: 100px;
  }
  
  header h1 {
    margin: 0;
    padding: 15px;
    color: #777;
  }
  header h1 span {
    color: #3a9dca;
  }
  
  header a {
    margin: 10px;
    color: #777;
    text-decoration: none;
    transition: 0.6s;
    text-transform: capitalize;
  }
  
  header a:last-child {
    margin-right: 20px;
  }
  
  header a:hover {
    transform: scaleX(1.5);
  
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
  /*satrt main  */
  
  main {
    position: relative;
  }
  main .content {
    position: absolute;
    top: 38%;
    left: 27%;
    text-align: center;
  }
  
  main .content h2 {
    text-shadow: 1px 1px 5px #3a9dca;
    color: #3a9dca;
  }
  
  main .content p {
    text-shadow: 1px 1px 5px #3a9dca;
    color: #3a9dca;
    margin-bottom: 40px;
  }
  
  main .content a {
    cursor: pointer;
    color: #3a9dca;
    border: 2px solid #3a9dca;
    padding: 10px 20px;
    transition: 0.5s;
  }
  
  main .content a:hover {
    background-color: #3a9dca;
    color: #fff;
  }
  
  main img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .slider {
    position: relative;
  }
  main .slider i {
    font-size: 50px;
    opacity: 0.3;
    transition: 0.6s;
  }
  
  main .slider i:hover {
    opacity: 1;
  }
  
  main .slider #left i {
    position: absolute;
    top: 50%;
    left: 50px;
    cursor: pointer;
  }
  
  main .slider #right i {
    position: absolute;
    top: 50%;
    right: 50px;
    cursor: pointer;
  }
  
  /*satrt footer */
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #3a9dca;
    padding: 15px;
    align-items: center;
    /* margin: 0; */
    margin-top: 200px;
  }
  
  footer p {
    color: #fff;
  }
  
  footer i {
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
  }
  
  footer i:hover {
    font-size: 35px;
  }
  
  /*end footer*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  body {
    background-image: url(https://opri.sg/wp-content/uploads/2021/03/medical-background-dark.jpg);

    font-family: Arial, Helvetica, sans-serif;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #3a9dca;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #3a9dca;
    color: white;
  }
  .grid{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    border: solid #3a9dca 10px;
    padding: 5px;
    /* background-image: url(https://i.graphicmama.com/blog/wp-content/uploads/2021/04/22074105/free-medical-background-07.png); */
  }
  .logoHos{
    width: 150px;
    height: 90px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3a9dca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
  .button:hover {background-color: #3a9dca}
  
  .button:active {
    background-color: #3a9dca;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:350px;
    height: 220px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}

.popup .close-btn{
    cursor:pointer;
    position:absolute;
    right: 20px;
    top:20px;
    width:30px;
    height:30px;
    background: #222;
    color: #fff;
    font-size:25px;
    font-weight:600;
    line-weight:30px;
    text-align:center;
    border-radius:50%;
    
}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}