/* body{

    width: 800px;

    margin:30px 30px;
    margin-top:200px;
    background: #000 url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/blue-abstract-moving-flowing-waves-on-white-background-blurred-smooth-design-video-animation-ultra-hd-4k-3840x2160_rffdhgnp_thumbnail-1080_01.png);

} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

:root {
  --color: #3a9dca;
}

/*satrt container */
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  font-family: sans-serif;
}


/*satrt header  */
header {
  border-bottom: 3px solid var(--color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  margin: 0%;
  height: 100px;
}

header h1 {
  margin: 0;
  padding: 15px;
  color: #777;
  font-size: 50px;
}
header h1 span {
  color: var(--color);
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header a {
  margin: 10px;
  color: #777;
  text-decoration: none;
  transition: 0.6s;
  text-transform: capitalize;
}

header a:last-child {
  margin-right: 20px;
}

header a.active,
header a:hover {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid var(--color);
  color: var(--color);
  margin: 15px;
  padding-bottom: 10px;
}
/*start doctor section */

main{
 min-height:100% ;
 /* border-top: 3px solid var(--color); */
}

.part-doctor{
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .doctor{
  width: 20%;
  text-align: center;
  background-color: var(--color);
  box-shadow: 5px 5px 10px var(--color);
  padding: 20px;
}

main .doctor img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

main .doctor h3{
  font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: #fff;
}

main .doctor p{
  color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

  


/*satrt footer */

footer {
  display: flex;
  justify-content: center;
    background-color: var(--color);
  padding: 15px;
  align-items: center;
  margin: 0;
  height: 100px;
}

footer p {
  color: #fff;
  padding-right: 10px;
  margin-right: 10px;
}

footer i {
  color: #fff;
  font-size: 25px;
  transition: 0.5s;
}

footer i:hover {
  font-size: 35px;
}

/* /end footer/ */
.doctortitles{
  text-align: center;
  margin: 20px;
  color: var(--color);
}
.doctortitles h3{
  
  font-size: 25px;
  font-weight: bolder;
  
}
.doctortitles p{
  margin : 20px;
  letter-spacing: 1px;
}