/* body{

    width: 800px;

    margin:30px 30px;
    margin-top:200px;
    background: #000 url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/blue-abstract-moving-flowing-waves-on-white-background-blurred-smooth-design-video-animation-ultra-hd-4k-3840x2160_rffdhgnp_thumbnail-1080_01.png);

} */
:root {
  --color: #3a9dca;
}
main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}






h1{
  
    
    margin: 30px 85%;
    font-weight: 1000 ;
    font-style: italic;
    font-size: xx-large;
    font-family: fantasy	;

}


/* .imggg{
    border-style: dashed;

} */

img{
    
        border: 10px solid var(--color);
        width: 250px;
        height: 400px;
    
}



button {
    background-color: var(--color);
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 70px;
    cursor: pointer;
    
  }

  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    background: #000 url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/blue-abstract-moving-flowing-waves-on-white-background-blurred-smooth-design-video-animation-ultra-hd-4k-3840x2160_rffdhgnp_thumbnail-1080_01.png);
  }
  /*satrt container */
  .container {
    width: 1200px;
    margin: 0 auto;
  
    padding: 0;
    font-family: sans-serif;
  }
  
  /*satrt header  */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin: 0%;
    height: 100px;
  }
  
  header h1 {
    margin: 0;
    padding: 15px;
    color: #777;
  }
  header h1 span {
    color: var(--color);
  }
  
  header a {
    margin: 10px;
    color: #777;
    text-decoration: none;
    transition: 0.6s;
    text-transform: capitalize;
  }
  
  header a:last-child {
    margin-right: 20px;
  }
  
  header a:hover {
    transform: scaleX(1.5);
  
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solidvar(--color);
    color: var(--color);
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid var(--color);
    color: var(--color);
  }
 
  footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color);
    padding: 15px;
    align-items: center;
    margin-top: 100px;
  }
  
  footer p {
    color: #fff;
  }
  
  footer i {
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
  }
  
  footer i:hover {
    font-size: 35px;
  }
  
  /*end footer*/


  #demo{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    line-height: 1.4 ;
   



  }

/* 
  nav {

    display: grid;

    grid-template-columns: auto auto auto auto;

     gap: 20px; 

  }  */

  /* .salman{

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
  padding-left: 80px;
    


  } */



